<div>
    <h1>Trang sản phẩm</h1>
    <a href="/create-product" type="button" class="btn btn-link">Tạo sản phẩm</a>
    <a href="/trash-product" type="button" class="btn btn-link">Thùng rác</a>
    {{!-- {{#if message}}
    {{/if}} --}}
    <div class="alert alert-success">{{message}}</div>
</div>